@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;600&display=swap');


.menu {
    background: #222;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    transition: 400ms ease-in-out;
}

.item {
    margin-top: 10px;
    margin-right: 30px;
}

.link {
    text-decoration: none;
    color: #f1f1f1;
    cursor: pointer;
    padding: 4px 10px;
    font-family: 'Teko', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    transition: 400ms ease-in-out;
}

.link:hover, .activeLink {
    border-radius: 10px 100px / 120px;
    background: rgba(241,241,241, 0.3);
}

.x-trem  {
    position: absolute;
    top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
}

.x-trem li {
    margin-bottom: 22px;
}

.visible {
    color: #f1f1f1;
    text-transform: uppercase;
    border-radius: 10px 100px / 120px;
    text-align: center;
    padding: 4px 10px;
    background: rgb(124, 124, 124);
    cursor: pointer;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 28px;
}

.logo {
    position: absolute;
    left: 35px;
    top: 4px;
}